<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084406882239-6cro37t87oikko6j5dn4jsma4sodngbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084406882239-6cro37t87oikko6j5dn4jsma4sodngbj</string>
	<key>API_KEY</key>
	<string>AIzaSyCqs0K0LZ8Ulx0qmCVUJA4D_Ah_4frcAN4</string>
	<key>GCM_SENDER_ID</key>
	<string>1084406882239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>juandev.mx.Social-Network</string>
	<key>PROJECT_ID</key>
	<string>social-network-947c5</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-947c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084406882239:ios:716371581dead94b498b0a</string>
</dict>
</plist>